/* login.component.scss */
.login-container
  max-width: 300px
  margin: 0 auto

  h2
    text-align: center


  form
    display: flex
    flex-direction: column

    .form-group
      margin-bottom: 1rem


    button
      padding: 0.5rem 1rem
      border: none
      cursor: pointer



