.container post
  align-content: center
  margin: 10px 30px 10px
  min-height: 1000px

.container__menu post
  margin: 30px

.admin__label post
  font-family: var(--font-primary)
  font-size: var(--font-size-xlg)
  text-align: center

.button__group--container post
  display: flex
  justify-content: space-between
  margin: var(--margin-md)

.admin__button post
  margin: var(--padding-md)
  width: 100%
  font-family: var(--font-primary)
  text-align: center

