.container
  display: grid
  grid-template-columns: 1fr 1fr
  width: 1000px
  margin: auto

.view__image
  grid-column: 1/2
  padding: var(--padding-lg)
  width: 400px
  margin: 60px
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center

.view__right-column
  margin: auto
  width: auto

.view__text
  width: fit-content
  margin: 30px


.view__icons
  display: flex
  margin: 20px

.view__icon-single
  margin: auto

.view__button
  margin: auto 30px
