<div class="label font-primary">Wishlist</div>
<mat-card class="wishlist__items--container"
          *ngFor="let post of posts; let i = index">
  <div>
    <img class="wishlist__image"
         [src]="post.post_image"
         width="220"
         alt=""/>
  </div>
  <div class="wishlist__text">
    <div class="wishlist__title font-primary">{{ post.post_name }}</div>
    <div class="wishlist__subtitle font-secondary">{{ post.post_userId }}</div>
    <div class="wishlist__subtitle font-secondary-small">{{ post.post_body }}</div>
    <div class="wishlist__icon-field">
      <button class="wishlist__button-large" mat-raised-button [routerLink]="['/login']">
        <mat-icon>swipe</mat-icon>
        Offer
      </button>
    </div>
    <button
      class="wishlist__button-small"
      mat-raised-button
      (click)="removeFromWishlist(post)">
      Remove
    </button>
  </div>
  <button
    class="wishlist__button"
    mat-raised-button
    (click)="onClickBack()"
    type="button"
  >
    Back
  </button>
</mat-card>
