
.wishlist__items--container
  display: grid
  grid-template-columns: 0.4fr 0.6fr
  margin: 40px auto 40px
  padding: 30px
  width: 700px
  border-radius: var(--border-radius-sm)

.wishlist__title-label
  margin: 0 300px 0


.wishlist__image
  grid-column: 1/2
  height: 100px
  margin: auto


.wishlist__title
  grid-area: product-name


.wishlist__subtitle
  margin-top: var(--margin-xsm)


.wishlist__icon-field
  margin: 0 auto


.wishlist__card--icon
  padding: 3px


.wishlist__card_label
  font-size: 28px


.wishlist__remove
  grid-area: remove-from-card
  min-height: 100px


.wishlist__button
  margin: var(--margin-sm)
  width: 130px

