<div class="container">
  <div class="card__search--container">
<!--    <input matInput-->
<!--           class="card__input&#45;&#45;field"-->
<!--           type="text"-->
<!--           name="search"-->
<!--           [(ngModel)]="searchText"-->
<!--           autocomplete="off"-->
<!--           placeholder="Search products..."-->
<!--    />-->
    <app-sidebar></app-sidebar>
  </div>
<app-post-detail class="container__inner"
                 *ngFor="let post of posts$ | async" [posts]="post"
                 (onDeleteEvent)="OnDeletePost($event, post.id)">
</app-post-detail>

</div>
