.label-primary
  font-family: Roboto, "Helvetica Neue", sans-serif
  font-weight: 600
  font-size: 36px

.font-primary
  font-family: Gabriola, serif
  font-weight: 600
  font-size: 30px
  opacity: 80%

.font-secondary
  font-family: Gabriola, serif
  font-weight: 450
  font-size: 26px
  opacity: 90%

.font-secondary-light
  font-family: Gabriola, serif
  font-weight: 450
  font-size: 22px

.label
  display: flex
  justify-content: center
  align-items: center
  margin: 30px
