<mat-card class="card" *ngFor="let post of posts">
  <h2 class="font-primary">{{ post.post_name }}</h2>
  <p class="font-secondary">{{ post.post_body }}</p>
  <div >
    <h3 class="font-secondary-light">Comments:</h3>

      <mat-accordion *ngFor="let userComment of post.userComments">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
             (by {{ post.post_name}})
            </mat-panel-title>
            <mat-panel-description>
              {{ userComment.comment_date }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          {{ userComment.comment_body }}
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">

        </mat-expansion-panel>
      </mat-accordion>

      <li class="card__comment-list" >
      </li>
  </div>
</mat-card>
