@import '../../../../../src/styles.sass'

.card
  grid-template-rows: 20% 30% 20% 20%
  margin: 30px
  padding: 30px
  border-radius: 20px
  width: 300px
  height: 800px

  &__comment-list
    list-style-type: none

  &__font-secondary-light
    margin: 20px

@media only screen and (max-width: 900px)
 .card
  margin: 30px
  padding: 30px
  border-radius: 20px

  &__comment-list
    list-style-type: none

  &__font-secondary-light
    margin: 20px
