@import '../../../../../src/styles.sass'

.card
  display: grid
  grid-template-rows: 28px 50px 30px 50px 40px
  margin: 50px
  padding: 40px
  border-radius: 20px
  width: 420px
  height: 800px
  &__title
    grid-row: 1/2

  &__subtitle
    grid-row: 2/3
    opacity: 70%
  &__content
    grid-row: 3/4
  &__date
    grid-row: 4/5
    margin: 20px 0
    opacity: 40%
  &__comment
    grid-row: 5/6
    margin: 10px 20px 20px 0
  &__comment-list
    list-style-type: none

  &__font-secondary-light
    display: flex
    justify-content: space-between
    align-items: baseline
    margin: 20px

@media only screen and (max-width: 900px)
 .card
  margin: 30px
  padding: 30px
  border-radius: 20px

  &__comment-list
    list-style-type: none

  &__font-secondary-light
    margin: 20px
