<mat-card class="card mat-elevation-z10" *ngIf="posts">
  <div class="card__title font-primary">{{ posts.post_name | slice: 0:38 }}...</div>
  <div class="card__subtitle font-secondary-light">{{ posts.post_userId }}</div>
  <div class="card__content font-secondary">{{ posts.post_body }}</div>
  <div class="card__date font-secondary">{{ posts.post_date | slice: 0:10}}</div>

  <div class="card__comment">
    <img [src]="posts.post_image" height="200px" width="auto">
    <div class="card__font-secondary-light">
      <mat-icon>favorite</mat-icon>
      <mat-icon>add_comment</mat-icon>
      <mat-icon>pan_tool</mat-icon>
      <mat-icon>settings</mat-icon>
      <mat-icon>schedule</mat-icon>
      <mat-icon>swap_horizontal_circle</mat-icon>
    </div>
    <div>
      <div class="card__font-secondary-light font-secondary">Comments:</div>
      <mat-accordion *ngFor="let userComment of posts.userComments">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="font-secondary">
            <mat-panel-title class="font-secondary">
              {{ posts.post_userId}}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          {{ userComment.comment_body }}
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  </div>
</mat-card>
